@keyframes heartbeat {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.02, 1.02);
    }
    100% {
        transform: scale(1, 1);
    }
}

.card {
    animation: heartbeat 2s infinite;
}

.card-image {
    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 95%,
        rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
}
